doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    title pineapple-express
    link(href='http://fonts.googleapis.com/css?family=Francois+One', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  include header
  .container
    block content
  include footer
