grey = #cecece

body
  color: #999;
  background-image: url("http://thedesigninspiration.com/wp-content/uploads/2009/07/pattern-113-l.jpg");
  padding-top: 60px;
  font-size: 14px
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;

a
  color: grey
